
* {
    margin: 0;
    padding: 0;
    font-family: serif;
    color: #c3d7eb
}

.wrapper {
    width: 970px;
    margin: 0 auto;
    padding: 10px;
    background-color: #1b335d;
}

h1 {
    background-color: #cf3036;
    padding: 20px;
    border-radius: 8px;
}

.main_content {
    margin-top: 20px;

    }

    a {
        color: #6dd9e1
    }

    .left_links {
        width: 200px;
        display: inline-block;
        vertical-align: top;
        padding: 15px;
        border-radius: 15px;
        background-color: #2a7d8c;
    }

        .left_links ul {
            margin-left: 20px;
        }

    .content_right {
        width: 670px;
        display: inline-block;
        vertical-align: top;
        padding: 20px;
        background-color: #0e1822;
        margin-left: 20px;
        border-radius: 15px;
    }

        .example {
            color: #7c88ef
        }

        ul {
            padding: 5px 0px 0px 20px
        }

    h3  {
        background-color: #5d6673;
        padding: 20px;
        border-radius: 15px;
        margin-top: 20px;
    }
