<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    </head>
    <body>
        <div class="wrapper">


            <header>
                <label for="qty">Your Gold: </label>
                <input type="text" name="qty" value="{{session['gold']}}">
            </header>


            <div class="farm">
                <h2>Farm</h2>
                <p>earns 10-20 golds</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="farm" />
                    <input type="submit" value="Find Gold!"/>
                    {% if submit %}
                        {{'gold' and 'statement'}}
                    {% endif %}
                </form>
            </div>
            <div class="cave">
                <h2>Cave</h2>
                <p>earns 5-10 golds</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="cave" />
                    <input type="submit" value="Find Gold!"/>
                    {% if submit %}
                        {{'gold' and 'statement'}}
                    {% endif %}
                </form>
            </div>
            <div class="house">
                <h2>House</h2>
                <p>earns 2-5 golds</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="house" />
                    <input type="submit" value="Find Gold!"/>
                    {% if submit %}
                        {{'gold'}}
                    {% endif %}
                </form>
            </div>
            <div class="casino">
                <h2>Casino</h2>
                <p>earns/takes 0-50 golds</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="casino" />
                    <input type="submit" value="Find Gold!"/>
                    {% if submit %}
                        {{'gold'}}
                    {% endif %}
                </form>
            </div>
            <div class="activities">
                <form class="activities" action="process_money" method="post">
                    <input type="text" name="log" value="">
                    {% if session['statement'] %}
                        {% if session['statement'] not in request.form['log'] %}
                            <p>{{session['statement']}}</p>
                        {% endif %}
                    {% endif %}
            </div>
        </div>
    </body>
</html>
